body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c; /* Dark background for the entire app */
  color: #f0f0f1; /* Light text for contrast */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

/* Other styles remain unchanged */

/* Styling for Connected Account */
.connected-account {
  color: #f0f0f1; /* Light grey for contrast */
  background-color: #2C3E50; /* Dark blue for a classy look */
  padding: 10px;
  border-radius: 5px;
  margin: 10px 5px;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

/* Update App-header for dark theme */
.App-header {
  background-color: #282c34; /* Dark background */
  /* Other styles remain the same */
}

/* Update App-link for dark theme */
.App-link {
  color: #61dafb; /* Bright color for links */
  /* Other styles remain the same */
}

/* Update for image and other elements as needed */
